<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Question Suite">
            <directory suffix="Test.php">./tests/Question</directory>
        </testsuite>
        <testsuite name="Exam Suite">
            <directory suffix="Test.php">./tests/Domain/Exam</directory>
        </testsuite>
        <testsuite name="Grading Suite">
            <directory suffix="Test.php">./tests/Domain/Grading</directory>
        </testsuite>
        <testsuite name="Monitoring Suite">
            <directory suffix="Test.php">./tests/Domain/Monitoring</directory>
        </testsuite>
        <testsuite name="HTTP Suite">
            <directory suffix="Test.php">./tests/Http</directory>
        </testsuite>
        <testsuite name="Integration Suite">
            <directory suffix="Test.php">./tests/Integration</directory>
        </testsuite>
        <testsuite name="Unit Suite">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="DB_DATABASE" value=":memory:"/>
    </php>
</phpunit>
